<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Green Gains</title>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Meera+Inimai&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="~/img/logo.png" alt="Green Gains Logo">
            </div>
            <nav class="nav-links">
                <a href="/">Home</a>
                <a href="#">Información</a>
                <a href='@Url.Action("Tienda","Home")'>Tienda</a>
            </nav>
            <div class="profile-icon">
                <a href='@Url.Action("Login","Account")'>👤</a>    
            </div>

    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div class="social-links">
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
            <a href="#">Email</a>
        </div>
        <nav class="footer-nav">
            <a href="/">Home</a>
            <a href="/informacion">Información</a>
            <a href='@Url.Action("Tienda","Home")'>Tienda</a>
        </nav>
        <p>&copy; Green Gains 2024</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
